<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937254771313-4237d2amgtu528psauip4badtmisgl99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937254771313-4237d2amgtu528psauip4badtmisgl99</string>
	<key>API_KEY</key>
	<string>AIzaSyCzo6XLxyQQD1ijsdeOIHylCoZLJBI6h_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>937254771313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.dilshan.flutterNotes</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-tutorial-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-tutorial-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937254771313:ios:bd3964c03ac2304c2a19d0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-flutter-tutorial-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>